<div class="row">
  <div class="col-md-12">
    <div class="col-md-4 enlaces-interes-slp" *ngFor="let item of enlaces">
      <div class="ui-slp-enlaces_container mb">
        <div class="ui-slp-enlaces_img">
          <a href="{{item.enlace}}">
            <img src="{{item.image}}">
          </a>
        </div>
        <div class="ui-slp-enlaces-titulo">
          <a href="{{item.enlace}}">{{item.title}}
          </a>
        </div>
        <div class="ui-slp-enlaces-description">
          <a href="{{item.enlace}}">{{item.description}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
