<div *ngIf="cards.length > 0" style="width: 80%;" class="ui-container-indice">
  <div class="ui-container-indice-row">
    <div class="ui-slp-indice-noticias">
      <div class="ui-slp-indice-imagen">
        <img src="{{cards[actualPage - 1][0].Imagen}}" />
      </div>
      <div class="ui-slp-indice-noticias-info">
        <div class="ui-slp-indice-titulo">
          <p style="font-size: 13px;">{{cards[actualPage - 1][0].Title}}</p>
        </div>
        <div class="ui-date-new">
          <i class="material-icons icon-new">date_range</i>
          <p>{{cards[actualPage - 1][0].fechaActualizacion}}</p>
        </div>
        <div class="ui-share-new">
          <div class="ui-share-icon">
            <i class="material-icons icon-new icon-share">share</i>
          </div>
          <div class="ui-share-link">
           <shared-social-popover></shared-social-popover>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][1]">
      <div class="ui-slp-indice-noticias">
        <div class="ui-slp-indice-imagen">
          <img src="{{cards[actualPage - 1][1].Imagen}}" />
        </div>
        <div class="ui-slp-indice-noticias-info">
          <div class="ui-slp-indice-titulo">
            <p style="font-size: 13px;">{{cards[actualPage - 1][1].Title}}</p>
          </div>
          <div class="ui-date-new">
            <i class="material-icons icon-new">date_range</i>
            <p>{{cards[actualPage - 1][1].fechaActualizacion}}</p>
          </div>
          <div class="ui-share-new">
            <div class="ui-share-icon">
              <i class="material-icons icon-new icon-share">share</i>
            </div>
            <div class="ui-share-link">
             <shared-social-popover></shared-social-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][2]">
      <div class="ui-slp-indice-noticias">
        <div class="ui-slp-indice-imagen">
          <img src="{{cards[actualPage - 1][2].Imagen}}" />
        </div>
        <div class="ui-slp-indice-noticias-info">
          <div class="ui-slp-indice-titulo">
            <p style="font-size: 13px;">{{cards[actualPage - 1][2].Title}}</p>
          </div>
          <div class="ui-date-new">
            <i class="material-icons icon-new">date_range</i>
            <p>{{cards[actualPage - 1][2].fechaActualizacion}}</p>
          </div>
          <div class="ui-share-new">
            <div class="ui-share-icon">
              <i class="material-icons icon-new icon-share">share</i>
            </div>
            <div class="ui-share-link">
             <shared-social-popover></shared-social-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][3]">
      <div class="ui-slp-indice-noticias">
          <div class="ui-slp-indice-imagen">
            <img src="{{cards[actualPage - 1][3].Imagen}}" />
          </div>
          <div class="ui-slp-indice-noticias-info">
            <div class="ui-slp-indice-titulo">
              <p style="font-size: 13px;">{{cards[actualPage - 1][3].Title}}</p>
            </div>
            <div class="ui-date-new">
              <i class="material-icons icon-new">date_range</i>
              <p>{{cards[actualPage - 1][3].fechaActualizacion}}</p>
            </div>
            <div class="ui-share-new">
              <div class="ui-share-icon">
                <i class="material-icons icon-new icon-share">share</i>
              </div>
              <div class="ui-share-link">
                <shared-social-popover></shared-social-popover>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][4]">
      <div class="ui-slp-indice-noticias">
        <div class="ui-slp-indice-imagen">
          <img src="{{cards[actualPage - 1][4].Imagen}}" />
        </div>
        <div class="ui-slp-indice-noticias-info">
          <div class="ui-slp-indice-titulo">
            <p style="font-size: 13px;">{{cards[actualPage - 1][4].Title}}</p>
          </div>
          <div class="ui-date-new">
            <i class="material-icons icon-new">date_range</i>
            <p>{{cards[actualPage - 1][4].fechaActualizacion}}</p>
          </div>
          <div class="ui-share-new">
            <div class="ui-share-icon">
              <i class="material-icons icon-new icon-share">share</i>
            </div>
            <div class="ui-share-link">
             <shared-social-popover></shared-social-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][5]">
      <div class="ui-slp-indice-noticias">
        <div class="ui-slp-indice-imagen">
          <img src="{{cards[actualPage - 1][5].Imagen}}" />
        </div>
        <div class="ui-slp-indice-noticias-info">
          <div class="ui-slp-indice-titulo">
            <p style="font-size: 13px;">{{cards[actualPage - 1][5].Title}}</p>
          </div>
          <div class="ui-date-new">
            <i class="material-icons icon-new">date_range</i>
            <p>{{cards[actualPage - 1][5].fechaActualizacion}}</p>
          </div>
          <div class="ui-share-new">
            <div class="ui-share-icon">
              <i class="material-icons icon-new icon-share">share</i>
            </div>
            <div class="ui-share-link">
             <shared-social-popover></shared-social-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][6]">
      <div class="ui-slp-indice-noticias">
        <div class="ui-slp-indice-imagen">
          <img src="{{cards[actualPage - 1][6].Imagen}}" />
        </div>
        <div class="ui-slp-indice-noticias-info">
          <div class="ui-slp-indice-titulo">
            <p style="font-size: 13px;">{{cards[actualPage - 1][6].Title}}</p>
          </div>
          <div class="ui-date-new">
            <i class="material-icons icon-new">date_range</i>
            <p>{{cards[actualPage - 1][6].fechaActualizacion}}</p>
          </div>
          <div class="ui-share-new">
            <div class="ui-share-icon">
              <i class="material-icons icon-new icon-share">share</i>
            </div>
            <div class="ui-share-link">
             <shared-social-popover></shared-social-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="cards[actualPage - 1][7]">
      <div class="ui-slp-indice-noticias">
        <div class="ui-slp-indice-imagen">
          <img src="{{cards[actualPage - 1][7].Imagen}}" />
        </div>
        <div class="ui-slp-indice-noticias-info">
          <div class="ui-slp-indice-titulo">
            <p style="font-size: 13px;">{{cards[actualPage - 1][7].Title}}</p>
          </div>
          <div class="ui-date-new">
            <i class="material-icons icon-new">date_range</i>
            <p>{{cards[actualPage - 1][7].fechaActualizacion}}</p>
          </div>
          <div class="ui-share-new">
            <div class="ui-share-icon">
              <i class="material-icons icon-new icon-share">share</i>
            </div>
            <div class="ui-share-link">
             <shared-social-popover></shared-social-popover>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui-container-indice-controles">
  <div class="ui-indice-control-left">
    <button type="button" (click)="changeBack()" [disabled]="bandBack"></button>
  </div>
  <div class="ui-indice-control-right">
    <button type="button" (click)="changeForward()" [disabled]="bandFwd"></button>
  </div>
</div>
