@import "~bootstrap/dist/css/bootstrap.css";

.share-popover{
  background: none !important;
  border: none;
  padding: 0px;
  padding-bottom: 7px;
  color: #009a3e;
  font-size: 14px;
  font-family: Montserrat-Medium;
  cursor: pointer;
}

.container-share {
  background: white;
  border: round($number: 2);
}

.share-popover:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.fa {
  margin: 3px;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-google {
  color: #c23321;
}

.fa-twitter {
  color: #00aced;
  background-color: white;
}

.fa-whatsapp {
  color: #29a628;
}

.fa-at {
  color: #3490F3;
}

.fa-linkedin {
  color: #007bb6;
}

.fa-instagram {
  color: #c13584;
}


